html{
  background-color: black;
  width: auto;
  height: 600px;
}

p{
  color: gold;
}
nav a {
  
    color: gold;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
  }
  
    nav a:hover{
    color: red;
    font-size: 24px;
  }
