html{
}
   #Page {
background-color: black;
height: 600px;
width: auto;
}  
    nav a {
        color: gold;
        font-size: 20px;
        margin: 20px;
        padding: 20px;
      }
      
        nav a:hover{
        color: red;
        font-size: 24px;
      }

      label{
        color:gold
      }

      #mid-section {
         color: #fffb00;
          width: auto;
          height: 100px;
          margin: 30px;
          padding: 20px;
      } 
